<div class="auth-container">
  <div class="auth-box">
    <div class="row">

      <div class="col-xs-12">
          <div class="navbar-right">
            <p>Vous êtes connecté depuis {{secondes}} secondes !</p>
          </div>
        <li><a routerLink="auth">Authentification</a></li>
        <li routerLinkActive="active"><a routerLink="students">Students</a></li>
          <router-outlet></router-outlet>
        <!--<app-student-view></app-student-view>-->

      </div>
    </div>
  </div>
</div>
